@import './utils/variables.scss';
@import './utils/mixins.scss';
@import './components/header.scss';
@import './components/footer.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  text-decoration: none;
  list-style: none;
}
img{
  width: 100%;
  vertical-align: middle;
}
